html,body {
  background-color: #f3f3f3;
  text-shadow: 0 1px 0 #fcfcfc;
  font-family: "Trebuchet MS";
}

body {
  background-image: url("../img/kagasan.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-attachment: fixed;
  background-size: 38px;
  margin-bottom: 0;
}
h1 {
  /* border-bottom: thin solid #999; */
}
#twitter-stream {
  clear: both;
  float: right;
  width:400px;
}

.xlarge {
  font-size: 4em;
}

h1.xlarge>img {
  width: 0.8em;
}

pre.inline {
  width: 50%;
}

p.copyright {
  text-align: right;
  float: right;
  color: #999;
}
