<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../css/materialize.min.css" />
    <script type="text/javascript" src="../js/jquery.min.js"></script>
    <script type="text/javascript" src="../js/materialize.min.js"></script>
    <script type="text/javascript" src="../js/angular.min.js"></script>
    <script type="text/javascript" src="../js/pages/hensei-capture.js"></script>
    <title>編成キャプチャ</title>
    <style>
      .minimum {
        font-size: xx-small;
        color: #888;
      }
      .select-dropdown {
        text-align: center;
      }
    </style>
  </head>
  <body data-ng-app="kcw">
    <div class="container" data-ng-controller="HenseiCapture">
      <div class="row center-align" style="margin-top: 20px;">
        <div class="input-field col s12">
          <select ng-model="mode">
            <option ng-repeat="(k, m) in modes" value="{{k}}">{{m.title}}</option>
          </select>
          <label>{{getMode().description}}</label>
        </div>
      </div>
      <div ng-if="ships.length < getMode().max" class="row center-align">
        <div class="col s12">
          <button class="btn btn-small" data-ng-click="capture()">
            {{getMode().button}}
          </button>
        </div>
      </div>
      <!-- div class="row center-align" -->
      <div class="row">
        <div class="col s12">
          <div class="row">
            <div ng-if="ships.length == 0" class="center-align"><span>No Capture</span></div>
            <div ng-repeat="ship in ships">
              <div class="col s4">
                <div class="card">
                  <div class="card-image">
                    <img ng-src="{{ship.src}}">
                    <!-- span class="card-title">{{$index + 1}}</span -->
                  </div>
                  <!-- div class="card-content">
                    <p>aaa</p>
                  </div -->
                  <div class="card-action">
                    <span>No.{{$index + 1}} {{ship.ts | date:'shortTime'}} <a href="" ng-click="delete($index)">削除</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div ng-if="ships.length != 0" class="row center-align">
        <div class="col s12">
          <button class="btn btn-small" ng-click="downloadNow()">このキャプチャでまとめをつくってダウンロード</button>
          <button class="btn btn-small" ng-click="toCaptureWindow()">このキャプチャでまとめをつくって編集</button>
          <p>
            ※ ページリロードするとリセットされます<br>
          </p>
        </div>
      </div>
      <div class="row center-align">
        <div class="col s12">
          <blockquote class="left-align minimum">
            MacOSでも使える<a href="https://twitter.com/kanahiron_dev">『艦これ一覧めいかー』</a>みたいなのが欲しかったのでつくりました。
            だいぶ雑につくったので、いろいろと不備あるかもしれないですが、そこは追い追い直していく所存です。なんか不具合・要望あったら
            <a href="https://github.com/otiai10/kanColleWidget/issues/new">ここ</a>か<a href="http://www.amazon.co.jp/registry/wishlist/2TM2C8W3AIRMH/?tag=otiai10-22">ここ</a>からメッセージください。
            とくに、キャプチャした画像を一度canvasに流し込んだり、
            切り貼りしてtoDataURLしたりしてるので、メモリ貧弱だったりすると悲鳴あげるかもしれないですね。とりあえず開発中は問題なかったですけど。
            あと、いまのところ、画面がぴったしではなくて余白や余黒がある状態ではたぶんキャプチャ位置がずれます。たくさんのクレームがあったら対応します（たぶん）。
            β版と銘打ってあるので、なんか使いづらくっても、怒ったりしないで、優しく助言してくれるとありがたいです。
          </blockquote>
          <blockquote class="left-align minimum">
            使い方: 『艦これウィジェット』のほうで装備画面が表示されてる状態で「この装備画面をキャプる」ボタンをおしてください。
            そうすっと、そのとき表示されてた艦娘が下に追加されていきます。あとで削除もできます。6艦までキャプれます（もっと多いほうがいいっすかね？）。
            艦娘が揃ったら「この編成でまとめをつくってダウンロード」または「この編成でまとめをつくって編集」をおしてみてください。
            「〜ダウンロード」は、この編成をひとつの画像にして保存します。「〜編集」は、この編成をひとつの画像にして、おなじみのスクショ編集画面に飛びます。
          </blockquote>
        </div>
      </div>
    </div>
  </body>
</html>
