<tr>
    <td class="title">{{title}}</td>
    <td class="checkbox-container">
        <div>
            <input type="checkbox" /><span class="description xsmall">{{{description}}}</span>
        </div>
    </td>
</tr>
