@import "../variables.scss";

.icon-clock-container {
  display: flex;
  .icon-wrapper {
    width: 120px;
    height: 120px;
    >img {
      height: 100%;
    }
  }
  .clock-wrapper {
    flex: 1;
    .date-wrapper {
      display: flex;
    }
    .time-wrapper {
      display: flex;
      span {
        font-size: 4em;
      }
    }
  }
}

.queue-matrix {
  .container {
    .columns:first-child>:nth-child(2) {
      border-bottom: thin solid;
    }
    &.遠征 {
      .columns:first-child>:nth-child(2) {
        border-color: $mission-color;
        color: white;
      }
    }
    &.修復 {
      .columns:first-child>:nth-child(2) {
        border-color: $recovery-color;
        color: white;
      }
    }
    &.建造 {
      .columns:first-child>:nth-child(2) {
        border-color: $shipbuilding-color;
        color: white;
      }
    }
  }
}
