@import "../variables.scss";

.icon-clock-container {
  display: flex;
  .icon-wrapper {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    figure {
      cursor: pointer;
      height: 4.2rem;
      width: 4.2rem;
      >img {
        height: 100%;
      }
      &.bg-secondary {
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }
  .clock-wrapper {
    flex: 1;
    .date-wrapper {
      display: flex;
    }
    .time-wrapper {
      display: flex;
      justify-content: center;
      span {
        font-size: 4em;
      }
    }
  }
}

.queue-matrix {
  .modal {
    .modal-body {
      .content {
        text-align: center;
        input[type=time] {
          font-size: 2.8rem;
          border: none;
          &:focus {
            outline: none;
          }
        }
      }
    }
    .modal-footer {
      .btn {
        margin-left: 6px;
        &.btn-primary {
          &.遠征 {
            background-color: $mission-color;
            border-color: $mission-color;
          }
          &.修復 {
            background-color: $recovery-color;
            border-color: $recovery-color;
          }
          &.建造 {
            background-color: $shipbuilding-color;
            border-color: $shipbuilding-color;
          }
        }
        &.btn-cancel {
          &.遠征 {
            border-color: $mission-color;
            color: $mission-color;
          }
          &.修復 {
            border-color: $recovery-color;
            color: $recovery-color;
          }
          &.建造 {
            border-color: $shipbuilding-color;
            color: $shipbuilding-color;
          }
        }
      }
    }
  }
  .container {
    .queue-time {
      cursor: pointer;
    }
    .columns:first-child>:nth-child(2) {
      border-bottom: thin solid;
    }
    &.遠征 {
      .columns:first-child>:nth-child(2) {
        border-color: $mission-color;
        color: white;
      }
    }
    &.修復 {
      .columns:first-child>:nth-child(2) {
        border-color: $recovery-color;
        color: white;
      }
    }
    &.建造 {
      .columns:first-child>:nth-child(2) {
        border-color: $shipbuilding-color;
        color: white;
      }
    }
  }
}
.tiredness-bar-container {
  position: relative;
  display: flex;
  align-items: center;
  .bar-item {
    font-size: xx-small;
  }
}

.quest-progress {
  padding: 8px;
  .columns {
    .column {
      display: flex;
      align-items: center;
      &.quest-title {
        font-size: small;
      }
      span.label.label-rounded {
        font-size: x-small;
        color: #fff;
        &.Sortie {
          background-color: #e85600;
        }
        &.Practice {
          background-color: #32b643;
        }
        &.Mission {
          background-color: $mission-color;
        }
        &.Recovery {
          background-color: $recovery-color;
        }
        &.CreateItem, &.Shipbuilding {
          background-color: $shipbuilding-color;
        }
      }
      span.status.label {
        font-size: x-small;
        &.open {
          background-color: transparent;
          border: thin solid #d0d0d0;
          color: #d0d0d0;
        }
        &.ongoing {
          background-color: orange;
          color: #fff;
        }
        &.completed {
          background-color: $mission-color;
          color: #fff;
        }
      }
    }
  }
}