html, body {
  height: 100%;
}

#app {
  height: 100vh;
}

.container.root, .columns.root {
  height: 100%;
}

select.form-select {
  -webkit-appearance: none;
}

.sidebar {
  height: 100%;
  background-color: #f8f9fa;
  padding-top: 12px;

  .input-group {
    margin-bottom: 4px;
  }

  .preview-container {
    margin-bottom: 8px;
    #preview {
      position: relative;
      overflow: hidden;
      #preview-mesh {
        position: absolute;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 20, 0.6);
        border: thin dashed yellow;
      }
    }
  }
}

.composer {
  padding-top: 12px;

  blockquote {
    margin: 0;
  }

  .cell {
    display: flex;
    .cell-content {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
      &.focused {
        cursor: pointer;
      }
      i {
        font-size: xx-large;
      }
      span {
        font-size: x-large;
        cursor: not-allowed;
      }
      &.captured {
        background-size: contain;
        background-repeat: no-repeat;
      }
    }
  }
}