
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(/dest/img/ds-bg.png);
  background-size: contain;
}

div.container {
  height:  100%;
  display: flex;
  div.cell {
    height: 100%;
    display: inline-block;
    img {
      height: 100%;
    }
  }

  div.additional-information {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 4vh;
    overflow-y: scroll;
    color: white;
    padding: 0 4px;
    background-color: rgba(0, 0, 0, 0.8);
  }
}