
html {
  width: 100%;
  height: 100%;
}

body {
  margin: 0;
  width: 100%;
  height: 100%;
  background-image: url(/dest/img/ds-bg.png);
  background-size: contain;
}

div.container {
  height:  100%;
  div.cell {
    height: 100%;
    display: inline-block;
    img {
      height: 100%;
    }
  }
}