html, body {
  margin: 0;
  background-color: #f3f3f3;
  font-family: "Trebuchet MS";
}

h1, h2 {
  text-shadow: 0 1px 0px #fff;
}

a {
  color: #1E88E5;
}
a:hover {
  color: #01579B;
}

div#container {
  max-width: 90%;
  margin: 20px auto;
}

div#copyright {
  text-align: right;
  color: #9E9E9E;
}
