
section.frame-setting {
  .container {
    >.columns:not(.add-btn-wrapper) {
      margin-bottom: 12px;
      button:not(.add-btn) {
        margin-left: 4px;
      }
      .add-frame {
        input[type=text] {
          width: 100%;
        }
      }
    }
  }
}