
/* This CSS is injected by KanColleWidget */
html {
    overflow-x: hidden;
}
::-webkit-scrollbar {
    display: none;
}

// 消しちゃだめなやつ
div#foot {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin: 0;
    position: fixed;
    bottom: 8px;
}

// 一応残しておくやつ
div.dmm-ntgnavi,    // うえのナビゲーション
div.area-naviapp,   // お問い合わせへのリンクなど
div#ntg-recommend   // 右側の「おすすめゲーム」とかいうの
{
    visibility: hidden;
}

// 消してもいいやつ
div.twitter>iframe // 「ツイートする」ボタン
{
    display: none;
}