html, body {
    /*
    font-family: "times new roman";
    */
    font-family: "Meiryo";
    background-color: #f0f0f0;
    margin: 0;
}

ul {
    padding-left: 7px;
    margin-bottom: 0;
    margin-top: 0;
    margin-left: 7px;
}

.boxy {
    display: -webkit-box;
}

.time-list {
    width: 33%;
    /*
    background-color: #0FABB1;
    */
    font-size: 0.6em;
    margin-right: 10px;
}

.list-title {
    /*
    text-align: center;
    */
    /*
    color: #3f3fdf;
    */
}

#seconds-wrapper {
    background-image: url('');
    background-size: contain;
    background-repeat: no-repeat;
    width:  90px;
    height: 90px;
    position: relative;
    bottom: 0;
}
#seconds-position {
    position: absolute;
    right: 0;
    bottom: 0;
}
#seconds {
    text-shadow: 0 0 2px #f0f0f0;
}

#day-wrapper {
    text-align: center;
}
#day-wrapper>span {
    padding: 0 0.3em;
}

#main-clock-wrapper {
    text-align: center;
    height: 100px;
    overflow: hidden;
}
#main-clock-wrapper>span {
    font-size: 5em;
}

.contents {
    width: 350px;
    margin: 10px auto;
}

#clock-left {
    width: 100px;
    position: relative;
}
#clock-right {
    width: 270px;
    position: relative;
}
#time-left {
    margin-top: 0.6em;
}
#edit-timer {
    margin: 0;
    text-align: right;
    position: absolute;
    right: 0;
    bottom: 0;
    padding-right: 5px;
    opacity: 0.2;
}
#edit-timer:hover {
    opacity: 1;
    cursor: pointer;
}
#validation-message {
  font-size: x-small;
  color: red;
}
a.editor {
  cursor: pointer;
}
a.editor:hover {
  text-decoration: underline;
}

.clickable {
  cursor: pointer;
}
.clickable:hover {
  text-decoration: underline;
}

h5 {
    margin-bottom: 0;
}
table.table {
    font-size: 0.6em;
}
textarea {
    resize: vertical;
}

.tiredness-box {
    width: 200px;
    height: 15px;
}
.tiredness-bar {
    height: 20%;
}
.tiredness-bar.red {
    background-color: orangered;
}
.tiredness-bar.yellow {
    background-color: #ffff00;
}
.tiredness-bar.green {
    background-color: greenyellow;
}

.modal {
    /* さらば加賀さん(´；ω；｀)
    background-image : url("../img/kagasan.face.png");
    background-repeat: no-repeat;
    background-position: bottom left;
    */
}
.modal-contents {
    position: relative;
    width: 90%;
    margin: 20px auto;
}
.modal-footer {
    width: 100%;
}
.modal-footer>.boxy {
    width: 100%;
}

/* side-navi */
#side-navi {
    width: 30px;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #ccc;
}
.navi-tab {
    height: 82px;
    background: #ccc;
    color: #777;
}
.navi-tab:hover {
    cursor: pointer;
    color: #000;
}
.navi-tab.active {
    background-color: #f0f0f0;
    color: #000;
}
.tab-contents {
    position: relative;
    top: 20px;
    right: 5px;
}
.rotate90 {
    -webkit-transform: rotate(90deg);
}

time {
    margin-right: 4px;
}
.alt-time {
    z-index: 2;
    position: fixed;
    background-color: #000;
    opacity: 0.8;
    width: 160px;
    height: 24px;
    color: #fff;
    border-radius: 8px;
    text-align: center;
}
.alt-header {
    font-size: x-small;
    line-height: 0.5em;
}

/* 早見表関係 */
table.mission-info {
}
.mission-info a {
    text-decoration: none;
}
