html, body {
    /*
    font-family: "times new roman";
    */
    font-family: "Meiryo";
    background-color: #ddd;
    margin: 0;
    overflow: scroll;
}
table, div.header {
    width: 96%;
    margin: 20px auto;
    font-size: small;
    min-width: 900px;
    backgroud-color: #f0f0f0;
}
table {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}
div.header {
    text-align: right;
    background-color: #ddd;
}
a {
    text-decoration: none;
}
div.header>a:hover {
    text-decoration: underline;
}

.box {
    display: -webkit-box;
}
.tab-container {
    width: 96%;/* なんだこの数字w　*/
}
.tab-container>.tab-select {
    width: 50%;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    font-weight: bold;
}
.tab-container>.tab-select:hover {
    color: #fff;
}
.tab-container>.tab-select.selected {
    background-color: #f0f0f0;
}
.contents-container {
    background-color: #f0f0f0;
}
.contents-container>.contents:not(.selected) {
    display: none;
}

.style_th {
    background-color: #00cccc;
}
