html, body {
    margin: 0;
    padding : 0;
    clear: both;
    overflow: hidden;
    position: fixed;
}

div#flashWrap {
    margin: 0;
    padding: 0;
}
div#spacing_top {
    display: none;
}
div#sectionWrap {
    display: none;
}
