html {
    width: 200px;
    /*
    background-color: #f0f0f0;
    */
    background-repeat: no-repeat;
    background-image: url('');
    background-size: cover;
    background-position: left bottom;
    /*
    font-family: "Meiryo";
    font-family: "times new roman";
    */
}
body {
    margin: 0;
    padding: 8px;
    background-color: rgba(240,240,240,0.7);
    max-height: 460px;
}
div#main {
    max-height: 460px;
    overflow: scroll;
}

h2 {
    margin-bottom: 0;
}
small {
    color: #3f3fdf;
    text-decoration: none;
}
div#time-left, div#achievements, div#achievements-table {
    font-size: 0.8em;
    color: #333;
}
div#achievements-table {
    margin-top: 0;
}
div#achievements-table>table>tbody>tr>td {
    font-size:   0.8em;
    line-height: 0.9em;
    color:        #333;
    text-align: center;
}
ul {
    padding-left: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.twincle.sec {
    -webkit-animation-name: twincle_sec;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes twincle_sec {
    0% { color: #f0f0f0; }
    49% { color: #f0f0f0; }
    50% { color: #000; }
    100% { color: #000; }
}
div.select {
    cursor: pointer;
}
input {
    cursor: pointer;
}

div.content {
    margin-top: 5px;
    margin-bottom: 8px;
}

#screen-shot {
    background-image: url('../img/screenshot.png');
    background-repeat: no-repeat;
    width: 26px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.clickable {
    cursor: pointer;
}
