html {
    width: 200px;
    /*
    background-color: #f0f0f0;
    */
    background-repeat: no-repeat;
    background-image: url('');
    background-size: cover;
    background-position: left bottom;
    background-attachment: fixed;
    /*
    font-family: "Meiryo";
    font-family: "times new roman";
    */
    max-height: 700px;
}
body {
    margin: 0;
    padding: 8px;
    background-color: rgba(240,240,240,0.6);
}
div#main {
    overflow: auto;
}

h2 {
    margin-top: 5px;
    margin-bottom: 0;
}
small {
    color: #3f3fdf;
    text-decoration: none;
}
div#time-left, div#achievements, div#achievements-table {
    font-size: 0.8em;
    color: #333;
}
div#achievements-table {
    margin-top: 0;
}
div#achievements-table>table>tbody>tr>td {
    font-size:   0.8em;
    line-height: 0.9em;
    color:        #333;
    text-align: center;
}
ul {
    padding-left: 20px;
    margin-bottom: 0;
    margin-top: 0;
}

.twincle.sec {
    -webkit-animation-name: twincle_sec;
    -webkit-animation-duration: 1s;
    -webkit-animation-iteration-count: infinite;
}
@-webkit-keyframes twincle_sec {
    0% { color: #f0f0f0; }
    49% { color: #f0f0f0; }
    50% { color: #000; }
    100% { color: #000; }
}
div.select {
    cursor: pointer;
}
input {
    cursor: pointer;
}

div.content {
    margin-top: 5px;
    margin-bottom: 8px;
}

#screen-shot {
    background-image: url('../img/screenshot.png');
    background-repeat: no-repeat;
    width: 26px;
    border: none;
    cursor: pointer;
    background-color: transparent;
}

.clickable {
    cursor: pointer;
}

/* staff-tweets */
img.avatar {
    width: 30px;
    border-radius: 5px;
}
s {
    text-decoration: none;
}
span.username {
    font-size: x-small;
}
small.time {
    text-align: right;
    float: right;
    font-size: x-small;
    position: relative;
    top: -3px;
}
p.tweet-text {
    margin: 10px 0;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
    font-size: x-small;
    opacity: 0.8;
    position: relative;
    box-shadow: 0 2px 2px #ddd;
}
p.tweet-text:after {
    content: "";
    border-right:  7px solid transparent;
    border-bottom: 10px solid #fff;
    border-left:   7px solid transparent;
    position: absolute;
    top:  -10px;
    left: 10px;
}
p.list-title {
    margin: 0;
}
h6 {
    margin: 0;
}

#new-arrival {
    color: red;
    font-size: xx-small;
    margin-left: 2px;
}
time {
    margin-right: 4px;
}
