html {
    background-color: #f0f0f0;
}
body *:not(h3) {
    font-size: 1em;
}
ul {
    padding-left: 20px;
}
td {
    border-bottom: thin dotted #333;
    width: 550px;
}
h4 {
    margin-bottom: 0;
    margin-top: 30px;
}
a.light {
    color: #00cccc;
}
.notice {
    text-decoration: underline;
}
.clickable {
    cursor: pointer;
}
.clickable:hover {
    text-decoration: underline;
}
tr.yet>td:before {
    content: '開発中!';
    color: #0FABB1;
    font-size: x-small;
    font-weight: bold;
}
tr.yet>td:hover, tr.yet>td>input:hover {
    cursor: not-allowed;
}

td.sorry {
    background-image: url("http://pbs.twimg.com/media/BTNZwAmCcAEZ1xd.png");
    background-repeat: no-repeat;
    background-position: right;
}

span.xsmall {
    font-size: x-small;
    color: #666;
    margin-left: 5px;
}
p.xsmall {
    font-size: x-small;
    color: #666;
    margin-top: 0;
    margin-bottom: 0;
}
div.xsmall {
    font-size: x-small;
}
span.validation-message {
    font-size: x-small;
    color: red;
}

hr {
    margin: 0 auto;
    clear: both;
}

s {
    font-weight: normal;
}

#open-notification-sound-extend, #close-notification-sound-extend {
    color : #0FABB1;
    cursor: pointer;
}

.boxy {
    display: -webkit-box;
}
div#announce {
    width: 400px;
    /* height: 200px; */
    padding: 10px;
    border-radius: 10px;
    color: white;
    box-shadow: -2px 3px 7px #555;
    position: fixed;
    background-color: black;
    -webkit-opacity: 0.8;
}
#announce-done {
    position: absolute;
    font-weight: bold;
    font-size: x-small;
    right: 10px;
    bottom: 10px;
}
#announce-img {
    width: 65px;
}
#announce-img>img {
    width: 60px;
}
#announce-txt {
    width: 335px;
    font-size: small;
}
#announce-contents>h5 {
    margin-top: 5px;
    margin-bottom: 5px;
}
#announce-contents>ul {
    margin: 0;
    font-size: x-small;
}
blockquote.twitter-tweet {
    border-left: 4px solid #ddd;
    padding: 0 15px;
    margin: 15px 0;
    font-size: x-small;
}
blockquote.twitter-tweet>p {
    margin-bottom: 0.6em;
}
