name: Contribution Notice

on:
  issues:
    types: [opened, reopened]
  issue_comment:
    types: [created]
  gollum:
  # pull_request:
  # PullRequestの通知は、IFTTTにしました。
  # ソースブランチがこのRepoの外だと、このWorkflowの中でSecretsのTWITTER_*が利用できないので。

jobs:
  notification:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
      with:
        node-version: 12.x
    - run: npm install

    - name: Issue用ツイート内容の生成
      if: github.event_name == 'issues' && github.event.action == 'opened'
      env:
        SENDER: ${{ github.event.sender.login}}
        TITLE: ${{ github.event.issue.title}}
        URL: ${{ github.event.issue.html_url }}
      run: |
        echo -ne "ご意見が届きました！\n\n> ${TITLE}\n${SENDER}さん より\n\n#艦これウィジェット\n${URL}" >> announcement.txt

    - name: Issueコメント用ツイート内容の生成
      if: github.event_name == 'issue_comment' && github.event.action == 'created' && github.event.sender.login != 'coveralls'
      env:
        SENDER: ${{ github.event.sender.login }}
        BODY: ${{ github.event.comment.body }}
        URL: ${{ github.event.comment.html_url }}
      run: |
        echo "[DEBUG] ORIG: ${{ github.event.comment.body }}"
        echo "[DEBUG] BODY: ${BODY}"
        if [ ${#BODY} -gt 80 ]; then TEXT="$(echo ${BODY} | cut -c1-80)…"; else TEXT=${BODY}; fi;
        echo "[DEBUG] TEXT: ${TEXT}"
        echo -ne "${SENDER}さんがコメントしました！\n> ${TEXT}\n${URL}" >> announcement.txt

    - name: Wiki用ツイート内容の生成
      if: github.event_name == 'gollum'
      env:
        SENDER: ${{ github.event.sender.login }}
        TITLE: ${{ github.event.pages[0].page_name }}
        URL: ${{ github.event.pages[0].html_url }}
      run: |
        echo -ne "Wikiが更新されました！ありがとう！！\n\n> ${TITLE}\n${SENDER}さん より\n\n#艦これウィジェット\n${URL}" >> announcement.txt

    # - name: PR用ツイート内容の生成
    #   if: github.event_name == 'pull_request' && github.event.pull_request.merged == true
    #   env:
    #     SENDER: ${{ github.event.sender.login}}
    #     TITLE: ${{ github.event.pull_request.title}}
    #     URL: ${{ github.event.pull_request.html_url }}
    #   run: |
    #     echo -ne "開発ありがとう！\n\n${TITLE}\nby ${SENDER}\n#艦これウィジェット\n${URL}" >> announcement.txt

    - name: Tweet
      run: |
        if [ -f announcement.txt ]; then
          announcement=`cat announcement.txt`
          npm run tweet "${announcement}"
        fi
      env:
        TWITTER_CONSUMER_KEY: ${{ secrets.TWITTER_CONSUMER_KEY }}
        TWITTER_CONSUMER_SECRET: ${{ secrets.TWITTER_CONSUMER_SECRET }}
        TWITTER_ACCESS_TOKEN_KEY: ${{ secrets.TWITTER_ACCESS_TOKEN_KEY }}
        TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
