name: Web Store PRODUCTION
on: issue_comment

jobs:
  pr_commented:
    if: ${{ github.event.issue.state == 'open' && github.event.action == 'created' && github.event.issue.pull_request != null }}
    runs-on: ubuntu-latest
    env:
      # 本番用のAPP_ID
      CHROMEWEBSTORE_APP_ID: iachoklpnnjfgmldgelflgifhdaebnol
      NODE_ENV: production
      FIREBASE_CONFIG_JSONSTR: ${{ secrets.FIREBASE_CONFIG_JSONSTR }}
      TWITTER_CONSUMER_KEY: ${{ secrets.TWITTER_CONSUMER_KEY }}
      TWITTER_CONSUMER_SECRET: ${{ secrets.TWITTER_CONSUMER_SECRET }}
      GITHUB_REPOSITORY: ${{ github.repository }}
    steps:
    - uses: actions/checkout@v2
      with:
        ref: develop
        fetch-depth: 0
    - run: |
        echo "[DEBUG] github.ref: ${{ github.ref }}"
        echo "[DEBUG] github.event_name: ${{ github.event_name }}"
        echo "[DEBUG] github.event.action: ${{ github.event.action }}"
        echo "[DEBUG] github.event.issue.number: github.event.issue.number }}"
    - name: Set up Node.js
      uses: actions/setup-node@v1
      with:
        node-version: 12.x

    - name: Install dependencies
      run: npm --production=false install

    - name: リリースするか判断
      run: npm run should-release
      env:
        ISSUE_NUMBER: ${{ github.event.issue.number }}
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: Build
      run: npm run build
      if: ${{ env.SHOULD_RELEASE_PRODUCTION }}

    - name: Pack ZIP
      run: npm run pack
      if: ${{ env.SHOULD_RELEASE_PRODUCTION }}

    # - name: Upload Release Asset
    #   uses: actions/upload-release-asset@v1
    #   if: ${{ env.SHOULD_RELEASE_PRODUCTION }}
    #   env:
    #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    #   with:
    #     upload_url: ${{ github.event.release.upload_url }}
    #     asset_path: ./release/kcwidget.zip
    #     asset_name: kcwidget.zip
    #     asset_content_type: application/zip

    - name: Publish to Chrome Web Store
      run: npm run publish
      if: ${{ env.SHOULD_RELEASE_PRODUCTION }}
      env:
        GOOGLEAPI_CLIENT_ID: ${{ secrets.GOOGLEAPI_CLIENT_ID }}
        GOOGLEAPI_CLIENT_SECRET: ${{ secrets.GOOGLEAPI_CLIENT_SECRET }}
        GOOGLEAPI_REFRESH_TOKEN: ${{ secrets.GOOGLEAPI_REFRESH_TOKEN }}

    - name: Create release announcement
      if: ${{ env.SHOULD_RELEASE_PRODUCTION }}
      run: |
        cat << EOS > announcement.txt
        【リリース情報: ${RELEASE_TAG}】 #艦これウィジェット
        あたらしいバージョン ${RELEASE_TAG} がストアのレビューに提出されたよ！
        ${RELEASE_TAG}に含まれる変更は以下のリンクから確認できます。
        よい提督ライフを！ この、クソ提督！
        ${RELEASE_URL}
        EOS
      env:
        RELEASE_URL: ${{ env.RELEASE_URL }}
        RELEASE_TAG: ${{ env.RELEASE_TAG }}

    - name: Tweet announcement
      if: ${{ env.SHOULD_RELEASE_PRODUCTION }}
      run: |
        announcement=`cat announcement.txt`
        echo "[DEBUG] ${announcement}"
        npm run tweet "${announcement}"
      env:
        TWITTER_ACCESS_TOKEN_KEY: ${{ secrets.TWITTER_ACCESS_TOKEN_KEY }}
        TWITTER_ACCESS_TOKEN_SECRET: ${{ secrets.TWITTER_ACCESS_TOKEN_SECRET }}
